.footer-container {
  width: 100%;
  display: flex;
  color: #FBEFDF;
}

.footer-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  font-size: 6.5vw;
  font-weight: bold;
  line-height: 1;
  font-family: "Parisienne", cursive;
}

.footer-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.footer-email {
  font-size: 1rem;
}

.icon {
  font-size: 5rem;
}
