.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 1.25rem 4.5vw;
  color: white;
}

.links {
  display: flex;
  gap: 1.25rem;
}

.links > a{
  text-decoration: none;
  color: inherit;
}

.resume-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.tilt-animation {
  display: inline-block;
  transform-origin: center;
  animation: tiltInfinite 2.5s infinite ease-in-out;
}

@keyframes tiltInfinite {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

